.body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
  margin-bottom: 0;
  margin-top: 0;
    }

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
   }

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
    text-decoration: none;
    color: currentColor;
}

 button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;

 }

 address {
    font-style: normal;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
 
 .container {
  max-width: 1158px;
  padding: 0 15px;  
  margin: 0 auto;

   /*border: 2px dashed #2a2a2a; */
}

/*=========== HEADER =============*/

.header {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}
   
 .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 0 15px;
} 

.header-nav {
  display: flex;
  align-items: center;

}

.header-logo {
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  
}

.header-logo-part {
  color: #2e2f42;
}

.header-address-list {
  display: flex;
  gap: 40px; 
  /*color: #404bbf;*/
 }

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf; 
  
}

.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-title{
  font-style: normal;
  margin-left: auto;
}

.header-address {
  display: flex;
  gap: 40px;
}

.header-address-item {
  color: #2e2f42;  
}

.header-address-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;  
}

/*================= HERO Secion 1 ==============*/

.hero {  
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto; 
  background-color: #2e2f42;
}

 .hero-wrap{
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px; 
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
 display: block;
 border: none;
 background-color: #4d5ae5;
 border-radius: 4px;
 cursor: pointer;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 text-align: center;
 margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
 background: #404bbf;
}

/*============ Features 2 ===========*/ 

.features {
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  }

.icon {
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
 
}

.features-item {
  width: calc((100% - 3 * 24px) / 4); 
  margin: 0 auto;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*============= Team 3 =============*/

.team {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
 /*width: calc((100% - 3 * 24px) / 4 );*/
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.team-img {
  display: flex;
  justify-content: center;
 /* margin-bottom: 32px;*/
}

.team-contact-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: row;    
  padding-top: 8px;
  background: #fff;
}

.team-contact-item {
  width: 40px;
  height: 40px;
  
}
.team-card-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
 
}

.team-contact-link{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contact-link:focus,
.team-contact-link:hover {
  background-color: #404bbf;
}

.team-contact-icon {
  fill: #f4f4fd;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*================ Portfolio 4 ======= */

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;  
}

/*.portfolio-list,*/.portfolio-item:hover {
  box-shadow: 0px 1px 6px
   rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-card-text{
  transform: translateY(0);
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top : none;
  position: relative;
  overflow: hidden;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  border-top: none;
}
.portfolio-text:hover .card-text-wrap {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-text-wrap {
  position: relative;
  overflow: hidden;
 
}

.portfolio-card-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
/*=============== Footer ==========*/

.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: row;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  background:#2e2f42;
}
  
.footer-container {    
  display: flex;
  align-items: baseline;  
}

.footer-container-logo{ 
  display: flex; 
  align-items: baseline; 
  justify-content: space-between;
  flex-direction: column;
  width: 264px;
  /*margin-bottom: 10px;*/
  /*margin-right: 120px;*/   
}

.footer-container-link {  
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  width: 208px;
  margin-left: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px; 
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  /*line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-contact {}

.footer-contact-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 16px;
  
}

.footer-contact-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-direction: row; 
}

.footer-contact-item {  
  width: 40px;
  height: 40px;
}

.footer-contact-link {
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  background-color: #31d0aa;
}

.footer-contact-icon {
fill: #f4f4fd;
}
.footer-input {
  display: flex;
  /*align-items: left;*/
  justify-content: center;
  flex-direction: column;
  /*gap: 16px;*/
  margin-left: 80px;
  max-width: 453px;
}
.input-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;  
}

.form-email {
  display: flex;
  gap: 24px; 
}

.label-title {
  gap: 24px;
}

.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;  
}

.placeholder{
color: #ffffff;
} 

.submit-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  /*margin-left: 24px;*/
}

.submit-btn:focus,
.submit-btn:hover {
  background-color: #404bbf;
}

.icon-fly {
  fill: #f4f4fd; 
  margin-left: 16px;
}


/*============== Backdrop ===============*/

.backdrop {
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width:100%;
  height: 100%; 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {  
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.button-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;  
  color: #2e2f42;
  text-align: center;
  left: 24px;
  margin-bottom: 16px;
}

.modal-input-list {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: #8e8f99;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus + .icon-person {
  fill: #4D5AE5;
}

.modal-input::placeholder {
  color:#31d0aa;
}


.modal-label {
  /*display: flex;*/
  font: 400 12px / 1.16667 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.input-icon-person {
position: relative;
}

.modal-input:hover + .icon-person {
  fill: #4D5AE5;  
}

.modal-input:focus + .icon-person {
  fill: #4D5AE5;
}

.icon-person {
  position: absolute;
  fill: #2E2F42;
  stroke: #4D5AE5;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  position: absolute;
  fill: #2E2F42;
  stroke: #4D5AE5;
  left: 16px;
  top: 50%;
  transform: translateY(-0%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-phone {
  position: relative;
}

.modal-input:focus + .icon-phone {
  fill: #4D5AE5;
}

.modal-input:hover + .icon-phone {
  fill: #4D5AE5;
}

.input-icon-email {
  position: relative;
}

.icon-email {
  position: absolute;
  fill: #2E2F42;
  stroke: #4D5AE5;
  left: 16px;
  top: 50%;
  transform: translateY(-0%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-email {
  fill: #4D5AE5;
}

.modal-input:hover + .icon-email {
  fill: #4D5AE5;
}

.input {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-left: 80px;
}


.comment {
  margin-bottom: 16px;
}

.input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
  border-color: #4D5AE5;
}

.checbox {
  margin-bottom: 24px;
  margin-top: 16px;
}

.checkbox-user:checked + .check-privasy span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.check-privasy {
  font: 400 "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99; 
  /*display: flex;
  align-items: center; 
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;*/
}

.check-privasy span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*fill: transparent;*/
  fill: #F4F4FD;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: none;
 }

.check-link {
  font: 400 12px / 1.33333 "Roboto", sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
}
.button-submit:focus {
  background-color: #404bbf;
}
/*.submit-btn {
  
}*/